@import 'vars';
@import 'fonts';
@import 'global';
@import 'reset';
@import 'libs';



.conditions {
  padding-top: 50px;
  &__content {
    margin-top: 60px;
  }
  &__content-title {
    font-size: 24px;
    @extend %Rubik-500;
  }
  &__content-list {
    counter-reset: my-counter;
    list-style: none;
  }
  &__content-item {
    position: relative;
    padding-left: 35px;
    margin-top: 30px;
    &::before {
      content: "0" counter(my-counter) ". ";
      counter-increment: my-counter;
      position: absolute;
      top: 3px;
      left: 3px;
      z-index: -1;
      @extend %Rubik-400;
    }
  }
  &__content-text {
    margin-top: 30px;
  }
}
.articles--conditions {
  .title-block {
    color: $default-color;
  }
  .articles-link {
    color: $default-color;
  }
}


@import 'media'; 


@media(max-width: 750px) {
  .conditions {
    padding-top: 0;
  }
}