html,
body {
  height: 100vh;
}                                       
body {
    display: flex;
    flex-direction: column;
    text-rendering: optimizeSpeed;
    background-color: #fff;
    font-size: 16px;
    line-height: 26px;
    color: $default-color;
    margin: 0 auto;
    @extend %Rubik-500;
}
// @extend %DMSans-700;
// @extend %Rubik-500;
.main {
  flex-grow: 1;
}

h1 {
  @extend %Rubik-500;
  font-size: 72px;
  line-height: 72px;
}
h2 {
  @extend %DMSans-700;
  color: #191919;
  font-size: 36px;
}
h2 {
  @extend %DMSans-700;
  font-size: 26px;
}
h4 {
  @extend %DMSans-700;
  font-size: 18px;
}
h5 {
  font-size: 16px;
  @extend %DMSans-700;
}
h6 {
  @extend %Rubik-300;
  font-size: 36px;
}
p {
  @extend %Rubik-400;
  font-size: 16px;
  line-height: 30px;
}
.container {
    width: 100%;
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.title-block {
  text-align: center;
}
.button {
  background-color: $accent-color;
  color: #fff;
  font-size: 15px;
  @extend %DMSans-400;
}






